<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="indexstyle.css">
    <title>Book Finder</title>
</head>
<body>
    <h1>Book Finder</h1>
    <div id="div-main">
        <div id="div-searchbar">
            <form action="/" method="POST">
                <input type="text" name="search" id="search" required placeholder="Search for author, book title, subject...">
                <button id="btn-search" type="submit">Search</button>
            </form>
        </div>
        <div id="book-list">
            {{{body}}}
        </div>
    </div>

    <footer>
        All rights reserved
        <a href="https://github.com/Nicolas-Soares">&#169; Nícolas Conterato Soares</a> 
    </footer>
</body>
</html>