@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body, html {
    background-color: rgb(63, 78, 146);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

* {
    font-family: 'Padauk', sans-serif;
}

h1 {
    font-size: 60px;
    color: rgb(70, 226, 161);
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
}

input {
    width: 370px;
    font-size: 23px;
    border-radius: 0.5ch;
}

a {
    color: white;
    text-decoration: none;
    width: fit-content;
}

a:hover {
    color: rgb(70, 226, 161);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(58, 53, 82);
    width: 100%;
    height: 100px;
    color: white;
    font-size: 20px;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
}

button {
    font-size: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    color: rgb(70, 226, 161);
    font-weight: bold;
    width: 90px;
    height: 45px;
    cursor: pointer;
}

button:hover {
    transition: 0.5s;
    background-color: rgb(58, 53, 82);
    border-radius: 1ch;
}

button:active {
    transition: 0.1s;
    background-color: rgb(79, 76, 95);
}

form {
    display: flex;
    align-items: center;
}

img {
    width: 185px;
    height: 230px;
    flex: 1;
}

#div-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 0px;
    font-size: 30px;
}

#book-list {
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    flex-flow: row wrap;
    font-size: 25px;
    color: white;
    background-color: rgba(220, 20, 60, 0.404);
}

#div-searchbar {
    display: flex;
    width: 450px;
}

.bookItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(70, 226, 161, 0.233);
    width: 50%;
    height: 250px;
    font-size: 20px;
    margin-bottom: 5px;
}