@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body, html {
    background-color: rgb(63, 78, 146);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

* {
    font-family: 'Padauk', sans-serif;
}

h1 {
    font-size: 60px;
    color: rgb(70, 226, 161);
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
}

input {
    font-size: 23px;
    border-radius: 0.5ch;
    width: 80%;
    flex-grow: 1;
}

a {
    transition: 0.5s;
    color: rgb(70, 226, 161);
    text-decoration: none;
    width: fit-content;
}

a:hover {
    transition: 0.5s;
    color: rgb(40, 170, 116);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(58, 53, 82);
    width: 100%;
    height: 100px;
    color: white;
    font-size: 20px;
    flex-direction: column;
    margin-top: 5px;
}

button {
    font-size: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    color: rgb(70, 226, 161);
    font-weight: bold;
    min-width: 20%;
    height: 45px;
    cursor: pointer;
}

button:hover {
    transition: 0.5s;
    background-color: rgb(58, 53, 82);
    border-radius: 1ch;
}

button:active {
    transition: 0.1s;
    background-color: rgb(79, 76, 95);
}

form {
    display: flex;
    align-items: center;
}

img {
    min-width: 175px;
    max-width: 175px;
    height: 230px;
    flex: 1;
    border-radius: 1ch;
}

#div-main {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 0px;
    font-size: 30px;
}

#book-list {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    flex-flow: column wrap;
    font-size: 25px;
    color: white;
    background-color: rgba(220, 20, 60, 0.404);
}

#div-searchbar {
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 25%;
    min-width: 300px;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

#book-info {
    display: flex;
    flex-direction: column;
    word-break: break-all;
    max-width: 80%;
    min-width: 80%;
    height: fit-content;
    overflow-wrap: break-word;
    margin: 3px;
    color: white;
    margin-left: 5px;
}

.bookItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(83, 77, 104);
    
    width: 50%;
    max-width: 50%;
    min-width: 50%;

    height: fit-content;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 1ch;
}